# Build binary
kubectl-debug_pvc

# GoReleaser output
dist/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Go coverage
*.out
*.prof

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
